<div class="min-h-screen bg-gray-50">

  <!-- Search Bar -->
  <div
    class="
      fixed bottom-0 left-0 w-full z-20 bg-gray-50/90 backdrop-blur-md
      md:sticky md:top-0 md:bottom-auto md:border-t-0
    "
  >
    <div class="px-4 sm:px-6 lg:px-8 py-3">
      <app-search-bar (search)="onSearch($event)"></app-search-bar>
    </div>
  </div>

  <!-- Contenido -->
  <div class="px-4 sm:px-6 lg:px-8 pb-24 md:pb-0">

    <!-- Estados -->
    <div class="mt-4 text-center text-gray-500">

      @if (!wordData() && !loading() && !error()) {
        <p class="text-sm">Type a word to search</p>
      }

      @if (loading()) {
        <app-loading></app-loading>
      }

      @if (error()) {
        <app-error></app-error>
      }

    </div>

    <!-- Resultados -->
    <div class="pb-10">
      <app-word-result [word]="wordData() ?? []"></app-word-result>
    </div>

  </div>

</div>
